<!doctype html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/images/favicon.ico">
    <!-- Bootstrap CSS -->
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div class="container hidden" id="app">
    <div class="row">
        <div class="col-md-6">
            <h4 id="roomName"><span class="badge badge-info badge-pill" id="userCount"></span></h4>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-primary btn-sm" href="/logout">로그아웃</a>
            <a class="btn btn-info btn-sm" href="/chat/room">채팅방 나가기</a>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" id="messageInput">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="sendMessageBtn">보내기</button>
        </div>
    </div>
    <ul class="list-group" id="messageList">
    </ul>
</div>
<!-- JavaScript -->
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
    // WebSocket & STOMP 초기화
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);

    document.addEventListener('DOMContentLoaded', function() {
        var app = document.getElementById('app');
        var roomId = localStorage.getItem('wschat.roomId');
        var roomName = localStorage.getItem('wschat.roomName');
        var messageInput = document.getElementById('messageInput');
        var sendMessageBtn = document.getElementById('sendMessageBtn');
        var messageList = document.getElementById('messageList');
        var userCountBadge = document.getElementById('userCount');

        document.getElementById('roomName').textContent = roomName;

        var token = '';

        function sendMessage(type) {
            if (messageInput.value.trim() === '') return;
            var message = {
                type: type,
                roomId: roomId,
                message: messageInput.value.trim()
            };
            ws.send("/pub/chat/message", {"token": token}, JSON.stringify(message));
            messageInput.value = '';
        }

        function recvMessage(recv) {
            userCountBadge.textContent = recv.userCount;
            var li = document.createElement('li');
            li.className = 'list-group-item';
            li.textContent = `${recv.sender} - ${recv.message}`;
            messageList.insertBefore(li, messageList.firstChild);
        }

        fetch('/chat/user')
            .then(response => response.json())
            .then(data => {
                token = data.token;
                ws.connect({"token": token}, function(frame) {
                    ws.subscribe(`/sub/chat/room/${roomId}`, function(message) {
                        var recv = JSON.parse(message.body);
                        recvMessage(recv);
                    });
                }, function(error) {
                    alert("서버 연결에 실패 하였습니다. 다시 접속해 주십시요.");
                    location.href = "/chat/room";
                });
            })
            .catch(error => {
                console.error('Error:', error);
                alert("사용자 정보를 가져오는 데 실패했습니다.");
            });

        messageInput.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                sendMessage('TALK');
            }
        });

        sendMessageBtn.addEventListener('click', function() {
            sendMessage('TALK');
        });

        app.classList.remove('hidden');
    });
</script>
</body>
</html>
