<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Websocket ChatRoom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit-icons.min.js"></script>
    <script th:src="@{/js/member/header.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container" id="app" v-cloak>
    <div>
        <h2>{{ room.name }}</h2>
        <p>참가자 수: {{ room.currentUserCount }} / {{ room.capacity }}</p>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
        </div>
    </div>
    <button class="btn btn-danger mt-3" @click="exitRoom">나가기</button> <!-- 나가기 버튼 추가 -->
    <ul class="list-group mt-3">
        <li class="list-group-item" v-for="message in messages">
            {{ message.senderNickname }} - {{ message.message }}
        </li>
    </ul>
</div>

<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script th:inline="javascript">
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);
    var reconnect = 0;

    var vm = new Vue({
        el: '#app',
        data: {
            roomId: /*[[${roomId}]]*/,
            room: {},
            message: '',
            messages: [],
            isExiting: false  // 나가기 버튼 클릭 여부를 확인하기 위한 플래그
        },
        created() {
            this.findRoom();
            // 페이지 떠날 때 이벤트 등록
            window.addEventListener('beforeunload', this.beforeUnloadHandler);
        },
        destroyed() {
            // 컴포넌트 파괴 시 이벤트 리스너 제거
            window.removeEventListener('beforeunload', this.beforeUnloadHandler);
        },
        methods: {
            findRoom: function() {
                axios.get('/chat/room/' + this.roomId).then(response => {
                    this.room = response.data;
                });
            },
            sendMessage: function() {
                if (this.message.trim() !== '') {
                    ws.send("/pub/chat/message", {}, JSON.stringify({
                        type: 'TALK',
                        roomId: this.roomId,
                        message: this.message
                    }));
                    this.message = '';
                }
            },
            recvMessage: function(recv) {
                this.messages.unshift({
                    "type": recv.type,
                    "senderNickname": recv.type == 'ENTER' ? '[알림]' : recv.senderNickname,
                    "message": recv.message
                });
            },
            exitRoom: function() {
                this.isExiting = true;  // 나가기 버튼이 클릭되었음을 표시
                this.sendExitRequest().then(() => {
                    alert("채팅방에서 나왔습니다.");
                    location.href = "/chat/room"; // 나간 후 방 목록 페이지로 이동
                }).catch(error => {
                    console.error("방 나가기 실패:", error);
                });
            },
            sendExitRequest: function() {
                return axios.post(`/chat/room/${this.roomId}/exit`);
            },

            beforeUnloadHandler: function(e) {
                // 나가기 버튼이 클릭된 경우 이 핸들러를 실행하지 않음
                if (!this.isExiting) {
                    this.sendExitRequest().catch(error => {
                        console.error("방 나가기 실패:", error);
                    });

                    // 기본적으로 브라우저의 기본 동작은 하지 않도록 설정 (옵션)
                    e.preventDefault();
                    e.returnValue = '';
                }
            }
        }
    });

    function connect() {
        ws.connect({}, function(frame) {
            ws.subscribe("/sub/chat/room/" + vm.$data.roomId, function(message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });
            ws.send("/pub/chat/message", {}, JSON.stringify({
                type: 'ENTER',
                roomId: vm.$data.roomId
            }));
        }, function(error) {
            if (reconnect++ <= 5) {
                setTimeout(function() {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws-stomp");
                    ws = Stomp.over(sock);
                    connect();
                }, 10 * 1000);
            }
        });
    }
    connect();

</script>
</body>
</html>
