<!doctype html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>{{ roomName }} <span class="badge badge-info badge-pill">{{ userCount }}</span></h4>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-primary btn-sm" href="/logout">로그아웃</a>
            <a class="btn btn-info btn-sm" href="/chat/room">채팅방 나가기</a>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="message" @keypress.enter="sendMessage('TALK')">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage('TALK')">보내기</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" v-for="(msg, index) in messages" :key="index">
            {{ msg.sender }} - {{ msg.message }}
        </li>
    </ul>
</div>

<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
    const sock = new SockJS("/ws-stomp");
    const ws = Stomp.over(sock);

    new Vue({
        el: '#app',
        data: {
            roomId: '',
            roomName: '',
            message: '',
            messages: [],
            token: '',
            userCount: 0
        },
        created() {
            this.roomId = localStorage.getItem('wschat.roomId');
            this.roomName = localStorage.getItem('wschat.roomName');
            this.initWebSocket();
        },
        methods: {
            initWebSocket() {
                axios.get('/chat/user').then(response => {
                    this.token = response.data.token;
                    ws.connect({"token": this.token}, frame => {
                        ws.subscribe(`/sub/chat/room/${this.roomId}`, message => {
                            const recv = JSON.parse(message.body);
                            this.recvMessage(recv);
                        });
                    }, error => {
                        alert("서버 연결에 실패 하였습니다. 다시 접속해 주십시요.");
                        location.href="/chat/room";
                    });
                });
            },
            sendMessage(type) {
                ws.send("/pub/chat/message", {"token": this.token}, JSON.stringify({
                    type: type,
                    roomId: this.roomId,
                    message: this.message
                }));
                this.message = '';
            },
            recvMessage(recv) {
                this.userCount = recv.userCount;
                this.messages.unshift({
                    type: recv.type,
                    sender: recv.sender,
                    message: recv.message
                });
            }
        }
    });
</script>
</body>
</html>
