<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Websocket ChatRoom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <link rel="icon" href="/images/favicon.ico">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div>
        <h2>{{ room.name }}</h2>
        <p>참가자 수: {{ room.currentUserCount }} / {{ room.capacity }}</p>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
        </div>
    </div>
    <button class="btn btn-danger mt-3" @click="exitRoom">나가기</button> <!-- 나가기 버튼 추가 -->
    <ul class="list-group mt-3">
        <li class="list-group-item" v-for="message in messages">
            {{ message.senderNickname }} - {{ message.message }}
        </li>
    </ul>
</div>

<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script th:inline="javascript">
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);
    var reconnect = 0;

    var vm = new Vue({
        el: '#app',
        data: {
            roomId: /*[[${roomId}]]*/,  // roomId를 템플릿에서 전달받도록 수정
            room: {},
            message: '',
            messages: []
        },
        created() {
            this.roomId = /*[[${roomId}]]*/; // roomId를 올바르게 설정
            this.findRoom();
        },
        methods: {
            findRoom: function() {
                axios.get('/chat/room/' + this.roomId).then(response => {
                    this.room = response.data;
                });
            },
            sendMessage: function() {
                if (this.message.trim() !== '') {
                    ws.send("/pub/chat/message", {}, JSON.stringify({
                        type: 'TALK',
                        roomId: this.roomId,
                        message: this.message
                    }));
                    this.message = '';
                }
            },
            recvMessage: function(recv) {
                this.messages.unshift({
                    "type": recv.type,
                    "senderNickname": recv.type == 'ENTER' ? '[알림]' : recv.senderNickname,
                    "message": recv.message
                });
            },
            exitRoom: function() {  // 나가기 메서드 수정
                axios.put('/chat/room/quit', null, {
                    params: { roomId: this.roomId }  // roomId를 params로 전달
                }).then(response => {
                    alert("채팅방에서 나왔습니다.");
                    location.href = "/chat/room"; // 나간 후 방 목록 페이지로 이동
                }).catch(error => {
                    console.error("방 나가기 실패:", error);
                });
            }
        }
    });

    function connect() {
        ws.connect({}, function(frame) {
            ws.subscribe("/sub/chat/room/" + vm.$data.roomId, function(message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });
            ws.send("/pub/chat/message", {}, JSON.stringify({
                type: 'ENTER',
                roomId: vm.$data.roomId
            }));
        }, function(error) {
            if (reconnect++ <= 5) {
                setTimeout(function() {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws-stomp");
                    ws = Stomp.over(sock);
                    connect();
                }, 10 * 1000);
            }
        });
    }
    connect();
</script>
</body>
</html>
