<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>채팅방 목록</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="row">
        <div class="col-md-12">
            <h3>채팅방 리스트</h3>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">방제목</span>
        </div>
        <input type="text" class="form-control" v-model="room_name" v-on:keyup.enter="createRoom">
        <div class="input-group-prepend">
            <span class="input-group-text">최대 인원</span>
        </div>
        <input type="number" class="form-control" v-model="room_capacity" min="2" max="100">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="createRoom">채팅방 개설</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" v-for="item in chatrooms" v-bind:key="item.roomId" v-on:click="enterRoom(item.roomId)">
            {{item.name}} ({{item.currentUserCount}}/{{item.capacity}})
            <span class="badge badge-primary float-right" v-if="item.currentUserCount < item.capacity">입장 가능</span>
            <span class="badge badge-secondary float-right" v-else>만석</span>
        </li>
    </ul>
</div>

<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script th:inline="javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            room_name: '',
            room_capacity: 10,
            chatrooms: []
        },
        created() {
            this.findAllRoom();
        },
        methods: {
            findAllRoom: function() {
                axios.get('/chat/rooms').then(response => {
                    this.chatrooms = response.data;
                });
            },
            createRoom: function() {
                if ("" === this.room_name) {
                    alert("방 제목을 입력해 주십시오.");
                    return;
                } else if (this.room_capacity < 2 || this.room_capacity > 100) {
                    alert("최대 인원은 2명에서 100명 사이여야 합니다.");
                    return;
                } else {
                    var params = new URLSearchParams();
                    params.append("name", this.room_name);
                    params.append("capacity", this.room_capacity);
                    axios.post('/chat/room', params)
                        .then(
                            response => {
                                alert(response.data.name + " 방 개설에 성공하였습니다.")
                                this.room_name = '';
                                this.room_capacity = 10;
                                this.findAllRoom();
                            }
                        )
                        .catch(response => {
                            alert("채팅방 개설에 실패하였습니다.");
                        });
                }
            },
            enterRoom: function(roomId) {
                var room = this.chatrooms.find(room => room.roomId === roomId);
                if (room.currentUserCount >= room.capacity) {
                    alert("채팅방이 꽉 찼습니다.");
                } else {
                    location.href = "/chat/room/enter/" + roomId;
                    // 방에 입장한 후, 다시 인원 수를 업데이트하여 클라이언트에 반영
                    this.findAllRoom();
                }
            }
        }

    });
</script>
</body>
</html>