/* 전체 배경색 설정 */
body {
    background-color: #EDE3D5; /* 바디 배경색 */
    /*background-color: #f9f9f9;*/
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* 컨테이너 배경색 설정 */
.container {
    /*background-color: #EDE3D5; !* 컨테이너 배경색을 바디 배경색과 동일하게 설정 *!*/
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    /*border: 1px solid #7B6155;*/
    max-width: 800px;
}



/* 별점 스타일 */
.star-rating {
    display: inline-flex;
    flex-direction: row-reverse; /* 역순으로 배치 */
    font-size: 2rem;
}

.star-rating input {
    display: none;
}

.star-rating label {
    cursor: pointer;
    font-size: 2rem;
    color: #ddd;
    margin: 0;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input:checked + label,
.star-rating input:checked + label ~ label {
    color: #f5c518;
}

.star-rating label::before {
    content: '\2605';
}

/* 카테고리 스타일 */
.selected-categories {
    margin-top: 10px;
}

.selected-categories ul {
    list-style-type: none;
    padding: 0;
}

.selected-categories li {
    display: inline-block;
    margin-right: 5px;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 3px;
}

/* 리뷰 항목 스타일 */
.review-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* 편집 폼 스타일 */
.edit-form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    background-color: #7B6155;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#pagination button:hover {
    background-color: #5a453c;
}

#pagination button.active {
    background-color: #4b362d;
    font-weight: bold;
    cursor: default;
}

