body {
    font-family: Arial, sans-serif;
    background-color: #EDE3D5;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px); /* 전체 화면에서 헤더 높이(예: 60px)만큼을 뺀 높이 */
}

#map-container {
    position: relative;
    width: 70%;
    height: calc(100% - 100px); /* 지도 높이를 컨테이너 높이에 맞춤 */
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#map {
    width: 100%;
    height: calc(100% - 60px); /* 지도 높이를 조정하여 search-box 공간 확보 */
}

#cafe-cards {
    position: absolute;
    top: 10px;
    right: 10px;
    max-height: 80%;
    overflow-y: auto;
    z-index: 1;
}

#search-box {
    margin-top: 10px; /* 상단에 약간의 여백을 추가 */
    margin-left: 0px; /* 왼쪽에 여백 제거 */
    width: 100%; /* map-container와 동일한 너비로 설정 */
}

#search-btn {
    padding: 10px 20px;
    background-color: #7B6155;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}
.cafe-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.cafe-card h4 {
    margin: 0 0 5px 0;
}

.cafe-card p {
    margin: 0;
    font-size: 12px;
}

.cafe-card button {
    margin-top: 5px;
    padding: 2px 5px;
    font-size: 12px;
}

#sidebar {
    width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    height: calc(100vh - 60px); /* 전체 화면에서 헤더 높이(예: 60px)만큼을 뺀 높이 */
    justify-content: space-between; /* 내용물 사이에 여백을 추가 */
}

#map-title, #district-select, .filter-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ecd4b2;
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
}

.category-selection {
    display: flex;
    justify-content: space-between;
}

.available-categories, .selected-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    height: 400px;
    box-sizing: border-box;
    overflow-y: auto;
    border: 1px solid #7B6155;
    background-color: white;
    position: relative;
}

.category-item {
    height: 50px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
}

#search-results div {
    cursor: pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
}
#search-input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #7B6155;
    border-radius: 8px;
    background-color: #EDE3D5;
    color: #333;
}

#search-results div:hover {
    background-color: #f0f0f0;
}

#save-btn {
    padding: 10px;
    background-color: #884D33;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
}
