body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: Arial, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

#map-info {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 250px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 8px;
}

#map-info h3, #map-info p {
    margin: 0;
    font-size: 14px;
}

#sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 320px;
    max-height: 90%;
    overflow-y: auto;
    z-index: 2;
}

.cafe-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 8px;
}

.cafe-box h4 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
}

.cafe-box p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

.cafe-box a {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
}

.cafe-box a:hover {
    text-decoration: underline;
}
.kakao-infowindow-content {
    max-width: 200px; /* 인포창의 최대 너비를 설정합니다. */
    white-space: normal; /* 줄바꿈을 허용합니다. */
    word-wrap: break-word; /* 긴 단어를 줄바꿈합니다. */
    word-break: break-all; /* 단어가 너무 길어도 줄바꿈합니다. */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨깁니다. */
    border-radius: 8px;
}
#custom-infowindow {
    font-size: 13px;
    max-width: 250px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    margin-left: 5px;
}

#custom-infowindow .place-name {
    font-size: 14px;
    font-weight: bold;
}

#custom-infowindow .place-address {
    font-size: 14px;
    color: #555;
}
.place-name {
    margin-left: 5px;
}



.infowindow-link {
    background-color: #7B6155; /* 초록색 배경 */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* 인라인 블록 */
    font-size: 10px; /* 폰트 크기 */
    cursor: pointer; /* 커서 포인터 */
    border-radius: 4px; /* 모서리 둥글게 */
    height: 20px;
    width: 60px;
    margin-left: 35px;
    margin-top: 5px;
}

.infowindow-link:hover {
    background-color: #5b4a42; /* 호버 시 더 진한 초록색 */
}





