body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: Arial, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

#map-info {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 250px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 8px;
}

#map-info h3, #map-info p {
    margin: 0;
    font-size: 14px;
}

#sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 320px;
    max-height: 90%;
    overflow-y: auto;
    z-index: 2;
}

.cafe-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cafe-box h4 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
}

.cafe-box p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

.cafe-box a {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
}

.cafe-box a:hover {
    text-decoration: underline;
}
.kakao-infowindow-content {
    max-width: 200px; /* 인포창의 최대 너비를 설정합니다. */
    white-space: normal; /* 줄바꿈을 허용합니다. */
    word-wrap: break-word; /* 긴 단어를 줄바꿈합니다. */
    word-break: break-all; /* 단어가 너무 길어도 줄바꿈합니다. */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨깁니다. */
}
#custom-infowindow {
    font-size: 13px;
    max-width: 250px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

#custom-infowindow .place-name {
    font-size: 14px;
    font-weight: bold;
}

#custom-infowindow .place-address {
    font-size: 14px;
    color: #555;
}

#custom-infowindow .infowindow-link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
    display: contents;
    margin-top: 5px;
}

#custom-infowindow .infowindow-link:hover {
    color: #0056b3;
    text-decoration: none;
}



