body {
    background-color: #F2EFE8;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@font-face {
    font-family: 'ChosunGu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px); /* 전체 화면에서 헤더 높이(예: 60px)만큼을 뺀 높이 */
    font-family: 'ChosunGu', Arial, sans-serif;
}
.font{
    font-family: 'ChosunGu', Arial, sans-serif;
}

#map-container {
    font-family: 'ChosunGu', Arial, sans-serif;
    position: relative;
    width: 70%;
    height: 615px; /* 지도 높이를 컨테이너 높이에 맞춤 */
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#map {
    width: 100%;
    height: calc(100% - 60px);
    border-radius: 8px;
}

#cafe-cards {
    position: absolute;
    top: 10px;
    right: 10px;
    max-height: 80%;
    overflow-y: auto;
    z-index: 1;
    font-family: 'ChosunGu', Arial, sans-serif;

}

#search-box {
    margin-top: 10px;
    width: 100%;
}

#search-btn {
    padding: 8px 16px; /* 축소된 버튼 크기 */
    background-color: #7B6155;
    color: white;
    border: 2px solid #7B6155;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px; /* 축소된 폰트 크기 */
    margin-left: 10px; /* 약간의 간격 */
    font-family: 'ChosunGu', Arial, sans-serif;
}

.cafe-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 8px; /* 축소된 카드 내부 패딩 */
    margin-bottom: 8px;
    width: 180px; /* 축소된 카드 너비 */
}

.cafe-card h4 {
    margin: 0 0 3px 0; /* 줄어든 마진 */
    font-size: 14px; /* 줄어든 폰트 크기 */
}

.cafe-card p {
    margin: 0;
    font-size: 10px; /* 줄어든 폰트 크기 */
}

.cafe-card button {
    margin-top: 3px;
    padding: 2px 4px;
    font-size: 10px; /* 줄어든 버튼 폰트 크기 */
}

#sidebar {
    width: 25%;
    height: 640px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    justify-content: space-between;
    font-size: 90%; /* 전체적인 폰트 크기 축소 */
}

#map-title, #district-select, .filter-container {
    padding: 8px; /* 줄어든 패딩 */
    border: 1px solid #ecd4b2;
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 90%; /* 축소된 폰트 크기 */
}


.category-selection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.available-categories, .selected-categories {
    width: 48%;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #7B6155;
    padding: 10px;
    box-sizing: border-box;
}

.category-item {
    height: 40px; /* 줄어든 카테고리 아이템 높이 */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px; /* 축소된 폰트 크기 */
    box-sizing: border-box;
    padding: 3px; /* 축소된 패딩 */
    border-radius: 8px;
    transition: background-color 0.3s;
    margin: 5px;
}

.category-item:hover {
    background-color: #ececec;
}

.category-item.selected {
    background-color: #7B6155;
    color: white;
}

#search-results div {
    width: 500px;
    padding: 8px; /* 축소된 패딩 */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 80px; /* 최대 높이를 제한하여 스크롤 가능하게 설정 */
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 12px; /* 축소된 폰트 크기 */
}

#search-input {
    width: 500px; /* 검색창의 너비를 축소 */
    padding: 8px; /* 축소된 패딩 */
    font-size: 14px; /* 축소된 폰트 크기 */
    border: 2px solid #7B6155;
    border-radius: 8px;
    background-color: #F2EFE8;
    color: #333;
    font-family: 'ChosunGu', Arial, sans-serif;

}

#search-results div:hover {
    background-color: #f0f0f0;
}

#save-btn {
    padding: 8px; /* 축소된 버튼 크기 */
    background-color: #884D33;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 12px; /* 축소된 폰트 크기 */
    font-family: 'ChosunGu', Arial, sans-serif;
}

.button-container button {
    padding: 8px 16px;
    background-color: #7B6155;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    font-family: 'ChosunGu', Arial, sans-serif;

}

.button-container button:hover {
    background-color: #5b4a42;

}

#brand-exclude input[type="checkbox"],
#public-toggle input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.2);
    accent-color: #7B6155;
}

#brand-exclude label,
#public-toggle label {
    font-size: 14px;
    color: #333;
}

#public-toggle input[type="checkbox"] {
    transform: scale(1.2);
    margin-left: 5px; /* margin-left 조정 */
}

#brand-exclude,
#public-toggle {
    margin-top: 10px; /* margin-top 조정 */
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 8px;
}

#public-toggle label {
    display: inline-flex;
    align-items: center;
}

#brand-exclude label {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

.button-container {
    display: flex;
    gap: 63px; /* 버튼 간의 간격 조정 */
    margin-top: 7px;
    margin-left: 5px;
}

#checkbox-container {
    display: flex;
    font-size: 14px;
    gap: 20px; /* 항목 간의 간격을 적당히 설정 */
}

#brand-exclude, #public-toggle {
    display: flex;
    flex-direction: column; /* 라벨과 스위치를 상하로 배치 */
}

#brand-exclude label,
#public-toggle label {
    font-size: 14px;
    color: #333;
}

/* Toggle switch container */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: -2px;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Slider circle */
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* When the checkbox is checked */
input:checked + .slider {
    background-color: #ecd4b2;
}

/* Move the slider when checked */
input:checked + .slider:before {
    transform: translateX(26px);
}


.infowindow-link {
    background-color: #7B6155; /* 초록색 배경 */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* 인라인 블록 */
    font-size: 9px; /* 폰트 크기 */
    cursor: pointer; /* 커서 포인터 */
    border-radius: 4px; /* 모서리 둥글게 */
    height: 20px;
    width: 60px;
    margin-top: 5px;
    font-family: 'ChosunGu', Arial, sans-serif;
}

.infowindow-link:hover {
    background-color: #5b4a42; /* 호버 시 더 진한 초록색 */
}

.remove-btn {
    background-color: #7B6155; /* 초록색 배경 */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* 인라인 블록 */
    font-size: 10px; /* 폰트 크기 */
    cursor: pointer; /* 커서 포인터 */
    border-radius: 4px; /* 모서리 둥글게 */
    height: 20px;
    width: 30px;
    margin-top: 5px;
}

.remove-btn:hover {
    background-color: #5b4a42; /* 호버 시 더 진한 초록색 */
}
