<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signUpForm</title>
    <link rel="stylesheet" href="/css/member/signUpForm.css">
</head>
<body>

<form id="signupForm">
    <h2>회원가입</h2>

    <label for="userId">아이디:</label>
    <div class="user-id-container">
        <input type="text" id="userId" name="userId" required>
        <button type="button" id="checkUserIdButton">중복 확인</button>
    </div>
    <div id="userIdError" class="error"></div>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required>
    <div id="passwordError" class="error"></div>

    <label for="confirmPassword">비밀번호 확인:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <div id="confirmPasswordError" class="error"></div>

    <label for="nickname">닉네임:</label>
    <input type="text" id="nickname" name="nickname" required>
    <div id="nicknameError" class="error"></div>

    <label for="name">이름:</label>
    <input type="text" id="name" name="name" required>
    <div id="nameError" class="error"></div>

    <button type="submit" id="signupButton">가입하기</button>
</form>

<script src="/js/member/signup.js"></script>
</body>
</html>