<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit-icons.min.js"></script>
    <script th:src="@{/js/member/header.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post/post-update.css}">
    <link rel="stylesheet" th:href="@{/css/post/editor.css}">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <form id="updateForm" enctype="multipart/form-data">
        <div>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요." required>
        </div>

        <div>
            <div class="main-container">
                <div class="editor-container editor-container_classic-editor" id="editor-container">
                    <div class="editor-container__editor"><div id="editor"></div></div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="button-container">
                <button type="submit" id="update-button">게시글 수정</button>
                <button type="button" id="cancel-button">취소</button>
            </div>
        </div>
    </form>
</div>

<!-- CKEditor CDN -->
<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.0.0/"
        }
    }
</script>
<script type="module" src="/js/post/editor.js"></script>
<script type="module" src="/js/post/post-update.js"></script>

</body>
</html>