<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit-icons.min.js"></script>
    <script th:src="@{/js/member/header.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post/post-list.css}">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="sort-div">
        <label for="sort-select">정렬 기준:</label>
        <select id="sort-select">
            <option value="createdAt" selected>최신순</option>
            <option value="views">조회수순</option>
            <option value="likeCount">좋아요순</option>
            <option value="commentCount">댓글순</option>
        </select>
        <button type="button" onclick="location.href='/posts/create'" id="write-button" class="uk-button uk-button-primary">글쓰기</button>
    </div>

    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>댓글수</th>
            <th>좋아요수</th>
            <th>작성일 / 수정일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody id="post-list">
        </tbody>
    </table>

    <div id="pagination"></div>
</div>

<script src="/js/post/post-list.js"></script>

</body>
</html>