<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세보기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit-icons.min.js"></script>
    <script th:src="@{/js/member/header.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post/post-update.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <form id="updateForm" enctype="multipart/form-data">
        <div>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요." required>
        </div>

        <div>
            <textarea id="content" name="content" placeholder="내용을 입력하세요." rows="5" required></textarea>
        </div>

        <div id="existing-images" class="existing-images">
            <!--기존 이미지-->
        </div>

        <div class="box">
            <div class="new-images">
                <label for="images">새 이미지</label>
                <input type="file" id="images" name="images" accept="image/*" multiple>
                <span id="fileName">선택된 파일 없음</span>
            </div>

            <div class="button-container">
                <button type="submit" id="update-button">게시글 수정</button>
                <button type="button" id="cancel-button">취소</button>
            </div>
        </div>
    </form>
</div>

<script src="/js/post/post-update.js"></script>

</body>
</html>