<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세보기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit-icons.min.js"></script>
    <script th:src="@{/js/member/header.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post/post-details.css}">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div id="post-box">
        <h1 id="title"></h1>

        <div id="meta-info">
            <div class="author">
                <img src="" id="profile-image" class="profile-image" alt="프로필 이미지">
                <span id="nickname"></span>
            </div>
            <div class="right-info">
                <div>
                    <strong>작성일: </strong><span id="createdAt"></span>
                </div>
                <div>
                    <strong>조회수: </strong><span id="views"></span>
                </div>
            </div>
        </div>

        <div class="images" id="images"></div>

        <div class="content" id="content"></div>
    </div>

    <div class="likes">
        <button id="like-button" class="like-button">좋아요</button>
        <span id="like-count">0</span>명이 좋아합니다.
    </div>

    <p id="btn-list"></p>

    <div class="comments-section">
        <h4>댓글</h4>
        <div id="comments"></div>
        <div class="comment-form">
            <textarea id="comment-input" placeholder="댓글을 작성하세요." rows="3" required></textarea>
            <button type="submit" id="submit-comment">댓글 등록</button>
        </div>
    </div>
</div>

<script src="/js/post/post-details.js"></script>

</body>
</html>
