html, body {
    font-family: Arial, sans-serif;
    background-color: #F2EFE8;
    height: 100%;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;
    align-items: flex-start; /* 이 부분을 추가하여 두 섹션의 시작점이 동일하게 맞춰지도록 합니다. */
    height: 100%;
}


.left-section {
    width: 72%;
}


.right-section {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%; /* 높이를 100%로 설정하여 부모 요소의 높이에 맞춥니다 */
    overflow-y: auto;
}

.left-section {
    display: flex;
    flex-direction: column;
}

.map {
    border: 1px solid #7B6155;
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}





#search-input {
    width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #7B6155;
    border-radius: 8px;
    background-color: #F2EFE8;
    color: #333;
}

#search-box {
    margin-top: 10px;
    width: 100%;
}

#search-btn {
    padding: 8px 16px; /* 축소된 버튼 크기 */
    background-color: #7B6155;
    color: white;
    border: 2px solid #7B6155;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px; /* 축소된 폰트 크기 */
    margin-left: 10px; /* 약간의 간격 */
}

#search-results div {
    width: 500px;
    padding: 8px; /* 축소된 패딩 */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 80px; /* 최대 높이를 제한하여 스크롤 가능하게 설정 */
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 12px; /* 축소된 폰트 크기 */
}

#search-results div {
    padding: 10px;
    cursor: pointer;
}

#search-results div:hover {
    background-color: #f0f0f0;
}

/* 카테고리 선택 영역 */
.filter-container {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.category-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.available-categories, .selected-categories {
    width: 48%;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #7B6155;
    padding: 8px;
    box-sizing: border-box;
}

.category-item {
    height: 55px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.category-reset, .category-search {
    padding: 10px 20px;
    background-color: #7B6155;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

/* 지역 선택 드롭다운 */
#district-select {
    margin-bottom: 20px;
}

#districts {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #7B6155;
    border-radius: 8px;
    background-color: #F2EFE8;
    color: #333;
}

#map-container {
    position: relative;
    width: 100%;
    height: 500px; /* 맵의 높이를 지정하세요 */
    border-radius: 8px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#map-cards-container {
    position: absolute;
    top: 10px;
    right: 10px; /* 좌측에서 우측으로 변경 */
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.map-card {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.map-card:hover {
    transform: scale(1.05);
}

.map-card h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.map-card p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}
.button-container button {
    padding: 8px 16px;
    background-color: #7B6155;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #5b4a42;
}

#brand-exclude input[type="checkbox"],
#public-toggle input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.2);
    accent-color: #7B6155;
}

#brand-exclude label,
#public-toggle label {
    font-size: 14px;
    color: #333;
}

#public-toggle input[type="checkbox"] {
    transform: scale(1.2);
    margin-left: 5px; /* margin-left 조정 */
}

#brand-exclude,
#public-toggle {
    margin-top: 10px; /* margin-top 조정 */
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 8px;
}

#public-toggle label {
    display: inline-flex;
    align-items: center;
}

#brand-exclude label {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

.button-container {
    display: flex;
    gap: 63px; /* 버튼 간의 간격 조정 */
    margin-top: 7px;
    margin-left: 5px;
}

#checkbox-container {
    display: flex;
    font-size: 13px;
    gap: 10px; /* 항목 간의 간격을 적당히 설정 */
}

#brand-exclude, #public-toggle {
    display: flex;
    flex-direction: column; /* 라벨과 스위치를 상하로 배치 */
}

#brand-exclude label,
#public-toggle label {
    font-size: 14px;
    color: #333;
}

/* Toggle switch container */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: -2px;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Slider circle */
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* When the checkbox is checked */
input:checked + .slider {
    background-color: #ecd4b2;
}

/* Move the slider when checked */
input:checked + .slider:before {
    transform: translateX(26px);
}
.custom-overlay {
    position: relative;
    bottom: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.custom-overlay-content {
    padding: 10px; !important;
    font-size: 14px; !important;
    max-width: 200px; !important;
    word-wrap: break-word; !important;
    word-break: break-all; !important;
    overflow: hidden; !important;
}

.custom-overlay-content a {
    color: #007BFF;
    text-decoration: none;
}


.kakao-infowindow-content {
    max-width: 200px; /* 인포창의 최대 너비를 설정합니다. */
    white-space: normal; /* 줄바꿈을 허용합니다. */
    word-wrap: break-word; /* 긴 단어를 줄바꿈합니다. */
    word-break: break-all; /* 단어가 너무 길어도 줄바꿈합니다. */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨깁니다. */
}
#custom-infowindow {
    padding: 10px;
    font-size: 14px;
    max-width: 250px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

#custom-infowindow .place-name {
    font-size: 12px;
    font-weight: bold;
}

#custom-infowindow .place-address {
    font-size: 12px;
    color: #555;
}
.place-name {
    margin-left: 5px;
}

#custom-infowindow {
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    display: contents;
    margin-top: 5px;
}

#custom-infowindow {
    text-decoration: none;
}

.infowindow-link {
    background-color: #7B6155; /* 초록색 배경 */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* 인라인 블록 */
    font-size: 10px; /* 폰트 크기 */
    cursor: pointer; /* 커서 포인터 */
    border-radius: 4px; /* 모서리 둥글게 */
    height: 20px;
    width: 60px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.infowindow-link:hover {
    background-color: #5b4a42; /* 호버 시 더 진한 초록색 */
}




