@font-face {
    font-family: 'ChosunGu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media print {
    body {
        margin: 0 !important;
    }
}

.main-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ck-content {
    line-height: 1.6;
    word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
    min-width: 795px;
    max-width: 795px;
}

html {
    background-color: #F2EFE8;
}

body {
    font-family: 'ChosunGu', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#title {
    width: 100%;
    padding: 20px 0;
    font-size: 36px;
    font-weight: bold;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
    color: #7B6155;
}

#title::placeholder {
    color: #B0B0B0;
}

.box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

button {
    display: inline-block;
    background-color: #7B6155;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

button:hover {
    background-color: #884D33;
}