<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Bean Container</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c1be6dbc09faa31e5316451aad20da0b&libraries=services,geometry"></script>
    <script>
        let map, ps, infowindow, markers = {};
        let lastCenter = null; // 마지막 검색한 중심 좌표

        const districts = {
            '관악구': {lat: 37.4789, lng: 126.9516},
            '서초구': {lat: 37.4837, lng: 127.0323},
            '구로구': {lat: 37.4955, lng: 126.8879}
            // 추가적인 구 좌표를 여기에 추가하세요
        };

        function initMap() {
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(37.5665, 126.9780), // 지도의 중심좌표 (서울 시청)
                    level: 3 // 지도의 확대 레벨
                };

            map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            // 확대/축소 컨트롤을 생성하고 지도에 추가합니다
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.LEFT);

            // 장소 검색 객체를 생성합니다
            ps = new kakao.maps.services.Places();

            // 인포윈도우를 생성합니다
            infowindow = new kakao.maps.InfoWindow({zIndex: 1});

            // 지도의 드래그가 끝날 때마다 카페를 다시 검색합니다
            kakao.maps.event.addListener(map, 'dragend', function () {
                const center = map.getCenter();
                if (lastCenter && center.equals(lastCenter)) {
                    return; // 중심이 변경되지 않은 경우 검색하지 않음
                }
                lastCenter = center; // 마지막 검색한 중심 좌표 업데이트
                searchPlacesByCenter(center);
            });

            // 지도의 줌 변경이 끝날 때마다 카페를 다시 검색합니다
            kakao.maps.event.addListener(map, 'zoom_changed', function () {
                const center = map.getCenter();
                if (lastCenter && center.equals(lastCenter)) {
                    return; // 중심이 변경되지 않은 경우 검색하지 않음
                }
                lastCenter = center; // 마지막 검색한 중심 좌표 업데이트
                searchPlacesByCenter(center);
            });

            // 초기 지도 위치에서 카페 검색
            searchPlacesByCenter(map.getCenter());
        }

        function searchPlacesByCenter(center) {
            const keyword = '카페';

            ps.keywordSearch(keyword, function (data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {
                    console.log('검색된 장소 데이터:', data);
                    // 검색된 장소 위치를 마커로 표시합니다
                    for (var i = 0; i < data.length; i++) {
                        if (i < 2) { // 처음 두 개의 카페 데이터만 콘솔에 출력
                            console.log(data[i]);
                        }
                        if (!isExcludedCategory(data[i].category_name) && !markers[data[i].id]) {
                            displayMarker(data[i]);
                        }
                    }

                    // 다음 페이지의 결과를 불러옵니다
                    if (pagination.hasNextPage) {
                        pagination.nextPage();
                    }
                }
            }, {location: center, radius: 2000});
        }

        function isExcludedCategory(categoryName) {
            const excludedCategories = ['보드게임카페', '룸카페', '방탈출카페', '테마카페', '고양이카페', '북카페', '레드버튼', '벌툰', '키즈'];
            return excludedCategories.some(excluded => categoryName.includes(excluded));
        }

        function parseAddress(address) {
            // 주소를 공백으로 분리
            const parts = address.split(' ');

            let city = parts[0]; // 시/도
            let district = '';

            // parts 배열을 순회하면서 구를 찾습니다.
            for (let i = 1; i < parts.length; i++) {
                if (parts[i].endsWith('구') || parts[i].endsWith('군')) {
                    district = parts[i];
                    break;
                }
            }

            return {city, district};
        }

        function checkAndSaveCafe(kakaoId, name, address, latitude, longitude, city, district) {
            const data = {
                kakaoId: kakaoId,
                name: name,
                address: address,
                latitude: latitude,
                longitude: longitude,
                city: city,
                district: district
            };

            console.log("Sending data:", data);

            fetch(`/review/${kakaoId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        throw new Error(text)
                    });
                }
                return response.json();
            })
                .then(data => {
                    console.log("Received data:", data);
                    window.location.href = `/review/${data.id}`;
                }).catch(error => {
                console.error('Error:', error);
                alert('Error: ' + error.message);
            });
        }

        function displayMarker(place) {
            var marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(place.y, place.x)
            });

            markers[place.id] = marker;

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function () {
                const parsedAddress = parseAddress(place.road_address_name || place.address_name);

                var content = `
            <div style="padding:10px; font-size:14px;">
                <strong>${place.place_name}</strong><br>
                ${place.road_address_name || place.address_name}<br>
                <a href="#" onclick="checkAndSaveCafe('${place.id}', '${place.place_name}', '${place.road_address_name || place.address_name}', ${place.y}, ${place.x}, '${parsedAddress.city}', '${parsedAddress.district}')">리뷰 페이지로 이동</a>
            </div>
        `;
                infowindow.setContent(content);
                infowindow.open(map, marker);
            });
        }


        function toggleDropdown() {
            var dropdown = document.getElementById('dropdown');
            if (dropdown.style.display === 'block') {
                dropdown.style.display = 'none';
            } else {
                dropdown.style.display = 'block';
            }
        }

        function selectDistrict(district) {
            document.getElementById('dropdown').style.display = 'none';
            if (districts[district]) {
                const center = new kakao.maps.LatLng(districts[district].lat, districts[district].lng);
                map.setCenter(center);
                map.setLevel(3); // 지도 확대 레벨을 3으로 설정
                lastCenter = center; // 마지막 검색한 중심 좌표 업데이트
                searchPlacesByCenter(center);
            }
        }

        function toggleMenu() {
            var menu = document.getElementById("menu");
            if (menu.style.display === "block") {
                menu.style.display = "none";
            } else {
                menu.style.display = "block";
            }
        }

        function closeMenu() {
            var menu = document.getElementById("menu");
            menu.style.display = "none";
        }

        document.addEventListener('click', function (event) {
            var isClickInside = document.getElementById('hamburger').contains(event.target) || document.getElementById('menu').contains(event.target);
            if (!isClickInside) {
                closeMenu();
            }
        });

        window.onload = function () {
            initMap();
        };
    </script>
    <script>
        var offcanvasElementList = [].slice.call(document.querySelectorAll('.offcanvas'))
        var offcanvasList = offcanvasElementList.map(function (offcanvasEl) {
            return new bootstrap.Offcanvas(offcanvasEl)
        })

        function logout() {
            fetch('/api/auth/logout', {
                method: 'POST',
                credentials: 'include', // 쿠키를 포함시키기 위해 필요합니다
            })
                .then(response => {
                    if (response.ok) {
                        // 로그아웃 성공
                        console.log('로그아웃 성공');
                        // 로컬 스토리지나 세션 스토리지의 데이터를 지웁니다 (필요한 경우)
                        localStorage.clear();
                        sessionStorage.clear();
                        // 홈페이지나 로그인 페이지로 리다이렉트합니다
                        window.location.href = '/';
                    } else {
                        // 로그아웃 실패
                        console.error('로그아웃 실패');
                    }
                })
                .catch(error => {
                    console.error('로그아웃 중 오류 발생:', error);
                });
        }
    </script>

</head>
<body>
<div class="header">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="/" class="uk-navbar-item uk-logo">
                        <img src="/images/BeanContainer.png" alt="Bean Container Logo" width="80" height="80" class="uk-margin-small-right">
                        Bean Container
                    </a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#" class="hamburger" uk-toggle="target: #offcanvas-menu">☰</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- 오프캔버스 메뉴 -->
    <div id="offcanvas-menu" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-default">
                <!-- 로그아웃 상태일 때만 표시되는 항목 -->
                <li th:unless="${#authorization.expression('isAuthenticated()')}">
                    <a href="/login" class="non-auth-only">Login</a>
                </li>
                <!-- 로그인 상태일 때만 표시되는 항목 -->
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/mypage/{userId}(userId=${#authentication.name})}">my page</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="#">채팅방</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/post/create}" >게시글 작성</a>
                </li>

                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="#">저장 된 지도 목록</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/create/map">지도 만들기</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="#" onclick="logout(); return false;">logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="left-section">
        <button onclick="toggleDropdown()">지역토글</button>
        <div id="dropdown" style="display:none;">
            <ul>
                <li onclick="selectDistrict('관악구')">관악구</li>
                <li onclick="selectDistrict('서초구')">서초구</li>
                <li onclick="selectDistrict('구로구')">구로구</li>
                <!-- 추가적인 구를 여기에 추가할 수 있습니다 -->
            </ul>
        </div>
        <div id="map" class="map"></div>
    </div>
    <div class="right-section">
        <div class="filter">filter</div>
        <div class="board-list">
            게시판 리스트
            <ul>
                <li><a href="#">게시글 1</a></li>
                <li><a href="#">게시글 2</a></li>
                <li><a href="#">게시글 3</a></li>
            </ul>
        </div>
        <div class="chat-room">채팅방</div>
    </div>
</div>
</body>
</html>
