<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>나의 지도</title>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c1be6dbc09faa31e5316451aad20da0b&libraries=services,geometry"></script>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/map/DetailMap.css">
    <script th:src="@{/js/map/DetailMap.js}"></script>
</head>
<body>

<div id="map"></div>

<div id="map-info">
    <h3 id="map-name">지도 이름</h3>
    <p id="username">작성자</p>
</div>

<div id="sidebar">
    <!-- 여기서 카페 리스트를 동적으로 추가합니다 -->
</div>



</body>
</html>
