<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Maps</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/map/MapList.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <script th:src="@{/js/member/header.js}"></script>
    <script th:src="@{/js/map/MapList.js}"></script>
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="left-section">
        <h3 class="font">나만의 지도를 만들어보세요!</h3>
        <h5 class="font">- 나만의 지도에서는 여러분이 자주 가거나 좋아하는 카페 들을 저장할 수 있습니다.</h5>
        <h5 class="font">- 나만의 지도에 등록된 카페들을 확인하고, 평점, 카테고리, 리뷰 정보를 확인 할 수 있습니다.</h5>
        <h5 class="font">- 아래의 버튼을 눌러 지도를 생성 해보세요</h5>
        <br>
        <br>
        <a href="create/map" class="create-map-btn">나만의 지도 만들기</a>
    </div>
    <div class="right-section">
        <h3 class="font">내 지도 목록</h3>
        <ul id="map-list">
            <!-- JavaScript에서 지도 목록을 여기에 동적으로 삽입 -->
        </ul>
    </div>
</div>



</body>
</html>
