<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>지도 수정</title>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c1be6dbc09faa31e5316451aad20da0b&libraries=services,geometry"></script>
    <link rel="stylesheet" href="/css/map/updateMap.css">
</head>
<body>

<div id="map-container">
    <div id="map"></div>
    <div id="cafe-cards"></div>
</div>

<div id="sidebar">
    <div id="map-title">
        <label for="map-name">지도 이름:</label>
        <input type="text" id="map-name">
    </div>

    <div id="search-box">
        <input type="text" id="search-input" placeholder="카페 이름을 입력하세요">
        <button id="search-btn">검색</button>
        <div id="search-results"></div>
    </div>

    <div class="filter-container">
        <div class="category-selection">
            <div class="available-categories">
                <!-- 사용 가능한 카테고리 버튼들 -->
            </div>
            <div class="selected-categories">
                <!-- 선택된 카테고리 버튼들 -->
            </div>
        </div>
        <div class="button-container">
            <button onclick="onCategorySelect()">카테고리 검색</button>
            <button onclick="resetCategories()">카테고리 초기화</button>
        </div>
    </div>

    <button id="save-btn">지도 저장</button>
</div>

<script>
    let map, ps, infowindow, markers = {}, addedCafes = new Set(), isCategorySearch = false;
    const categories = [
        "대형카페", "편한 좌석", "주차가 가능한", "24시간 카페", "룸", "테라스",
        "와이파이", "데이트 하기 좋은", "혼자가기 좋은", "공부하기 좋은", "비즈니스 미팅",
        "애견 동반", "분위기 좋은", "인스타 감성", "풍경이 좋은", "새로 오픈", "조용한",
        "커피가 맛있는", "디저트가 맛있는", "직원이 친절한"
    ];
    const selectedCategories = new Set();

    function initMap() {
        const mapContainer = document.getElementById('map');
        const mapOption = {
            center: new kakao.maps.LatLng(37.5665, 126.9780),
            level: 3
        };

        map = new kakao.maps.Map(mapContainer, mapOption);
        infowindow = new kakao.maps.InfoWindow({zIndex: 1});

        const zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.LEFT);

        ps = new kakao.maps.services.Places();

        kakao.maps.event.addListener(map, 'click', function() {
            infowindow.close();
        });

        kakao.maps.event.addListener(map, 'dragend', function() {
            if (!isCategorySearch) searchPlacesByCenter(map.getCenter());
        });

        kakao.maps.event.addListener(map, 'zoom_changed', function() {
            if (!isCategorySearch) searchPlacesByCenter(map.getCenter());
        });

        loadMapDetails();
        searchPlacesByCenter(map.getCenter());
        createCategoryButtons();
    }

    function loadMapDetails() {
        const mapId = window.location.pathname.split("/").pop();

        fetch(`/api/mymap/${mapId}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('map-name').value = data.mapName;
                data.cafes.forEach(cafe => {
                    addCafeToSet(cafe.kakaoId, cafe.name, cafe.address, cafe.latitude, cafe.longitude);
                });
            })
            .catch(error => {
                console.error('지도 세부 정보 로드 오류:', error);
            });
    }

    function isExcludedCategory(categoryName) {
        const excludedCategories = ['보드게임카페', '룸카페', '방탈출카페', '테마카페', '고양이카페', '북카페', '레드버튼', '벌툰', '키즈'];
        return excludedCategories.some(excluded => categoryName.includes(excluded));
    }

    function searchPlacesByCenter(center) {
        const keyword = '카페';
        ps.keywordSearch(keyword, function(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {
                for (let i = 0; i < data.length; i++) {
                    if (!isExcludedCategory(data[i].category_name) && !markers[data[i].id]) {
                        displayMarker(data[i]);
                    }
                }
                if (pagination.hasNextPage) {
                    pagination.nextPage();
                }
            }
        }, {location: center, radius: 2000});
    }

    function searchCafeByName() {
        const keyword = document.getElementById('search-input').value;
        if (!keyword) {
            alert('카페 이름을 입력하세요.');
            return;
        }

        ps.keywordSearch(keyword, function(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {
                if (data.length === 1) {
                    const place = data[0];
                    const center = new kakao.maps.LatLng(place.y, place.x);
                    map.setCenter(center);
                    map.setLevel(3);
                    searchPlacesByCenter(center);
                } else {
                    displaySearchResults(data);
                }
            } else {
                alert('카페를 찾을 수 없습니다.');
            }
        });
    }

    function displaySearchResults(places) {
        const searchResultsContainer = document.getElementById('search-results');
        searchResultsContainer.innerHTML = '';

        places.forEach(place => {
            const resultItem = document.createElement('div');
            resultItem.textContent = `${place.place_name} (${place.road_address_name || place.address_name})`;
            resultItem.style.cursor = 'pointer';
            resultItem.onclick = () => {
                const center = new kakao.maps.LatLng(place.y, place.x);
                map.setCenter(center);
                map.setLevel(3);

                searchPlacesByCenter(center);

                if (markers[place.id]) {
                    openInfoWindow(markers[place.id], place);
                } else {
                    setTimeout(() => {
                        if (markers[place.id]) {
                            openInfoWindow(markers[place.id], place);
                        }
                    }, 200);
                }

                searchResultsContainer.innerHTML = '';
            };
            searchResultsContainer.appendChild(resultItem);
        });
    }

    function displayMarker(place) {
        // 기존의 addedCafes 세트에 카페가 있는지 확인
        const isAddedCafe = [...addedCafes].some(cafe => cafe.kakaoId === place.id);

        let markerImageUrl = isAddedCafe
            ? "http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"
            : null;

        let markerImage = markerImageUrl
            ? new kakao.maps.MarkerImage(markerImageUrl, new kakao.maps.Size(24, 35), { offset: new kakao.maps.Point(12, 35) })
            : null;

        const marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x),
            image: markerImage
        });

        markers[place.id] = marker;

        kakao.maps.event.addListener(marker, 'click', function () {
            openInfoWindow(marker, place);
        });
    }


    function openInfoWindow(marker, place) {
        const parsedAddress = parseAddress(place.road_address_name || place.address_name);
        const content = `
            <div style="padding:10px; font-size:14px;">
                <strong>${place.place_name}</strong><br>
                ${place.road_address_name || place.address_name}<br>
                <button onclick="checkAndSaveCafe('${place.id}', '${place.place_name}', '${place.road_address_name || place.address_name}', ${place.latitude || place.y}, ${place.longitude || place.x}, '${parsedAddress.city}', '${parsedAddress.district}')">지도에 추가하기</button>
                <button onclick="openReviewPage('${place.id}', '${place.place_name}', '${place.road_address_name || place.address_name}', ${place.latitude || place.y}, ${place.longitude || place.x})">리뷰 페이지로 이동</button>
            </div>
        `;
        infowindow.setContent(content);
        infowindow.open(map, marker);
    }

    function addCafeToSet(kakaoId, name, address, latitude, longitude) {
        if (!addedCafes.has(kakaoId)) {
            addedCafes.add({ kakaoId, name, address, latitude, longitude });
            console.log(`Added cafe to set: ${kakaoId}, Current set size: ${addedCafes.size}`);

            const card = document.createElement('div');
            card.className = 'cafe-card';
            card.setAttribute('data-id', kakaoId);
            card.innerHTML = `
            <h4>${name}</h4>
            <p>${address}</p>
            <button onclick="removeCafe('${kakaoId}')">삭제</button>
        `;

            card.addEventListener('click', () => handleCardClick(kakaoId));
            document.getElementById('cafe-cards').appendChild(card);

            const marker = markers[kakaoId];
            if (marker) {
                const markerImageUrl = "http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
                const markerImage = new kakao.maps.MarkerImage(
                    markerImageUrl,
                    new kakao.maps.Size(24, 35),
                    { offset: new kakao.maps.Point(12, 35) }
                );
                marker.setImage(markerImage);
            }
        }
    }


    function handleCardClick(kakaoId) {
        const cafe = [...addedCafes].find(c => c.kakaoId === kakaoId);
        if (cafe) {
            const position = new kakao.maps.LatLng(cafe.latitude, cafe.longitude);
            map.setCenter(position);

            if (!markers[kakaoId]) {
                // 선택된 카페의 마커를 생성
                displayMarker({
                    id: kakaoId,
                    place_name: cafe.name,
                    road_address_name: cafe.address,
                    y: cafe.latitude,
                    x: cafe.longitude
                });
            } else {
                // 이미 있는 마커라면, 인포윈도우를 다시 열어줍니다.
                openInfoWindow(markers[kakaoId], cafe);
            }

            // 주변 카페들도 함께 로딩
            searchPlacesByCenter(position);
        } else {
            console.error(`Cafe with ID ${kakaoId} not found in set.`);
        }
    }



    function removeCafe(kakaoId) {

        if (addedCafes.delete(kakaoId)) {
            console.log(`Removed cafe from set: ${kakaoId}, Current set size: ${addedCafes.size}`);
        }

        const card = document.querySelector(`.cafe-card[data-id="${kakaoId}"]`);
        if (card) {
            card.remove();
        }

        const marker = markers[kakaoId];
        if (marker) {
            marker.setImage(null);
        }
    }

    function saveMap() {
        const mapId = window.location.pathname.split("/").pop();
        const mapName = document.getElementById('map-name').value;
        const kakaoIds = Array.from(addedCafes);

        const mapData = {
            mapId: mapId,
            mapName: mapName,
            kakaoIds: kakaoIds
        };

        fetch(`/api/mymap/update/${mapId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(mapData)
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        throw new Error(text);
                    });
                }
                return response.text();
            })
            .then(data => {
                alert('지도 업데이트 성공!');
                window.location.href = '/';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('지도 업데이트 실패: ' + error.message);
            });
    }

    function createCategoryButtons() {
        const availableList = document.querySelector('.available-categories');
        const selectedList = document.querySelector('.selected-categories');

        availableList.innerHTML = '';
        selectedList.innerHTML = '';

        categories.forEach(category => {
            const item = document.createElement('div');
            item.textContent = category;
            item.classList.add('category-item');

            item.onclick = () => {
                if (selectedCategories.has(category)) {
                    selectedCategories.delete(category);
                    selectedList.removeChild(item);
                    availableList.appendChild(item);
                } else {
                    if (selectedCategories.size < 3) {
                        selectedCategories.add(category);
                        availableList.removeChild(item);
                        selectedList.appendChild(item);
                    } else {
                        alert("카테고리는 최대 3개까지만 선택할 수 있습니다.");
                    }
                }
            };

            availableList.appendChild(item);
        });
    }

    function onCategorySelect() {
        if (selectedCategories.size > 0) {
            isCategorySearch = true;
            const selectedCategoryArray = Array.from(selectedCategories);
            const queryString = selectedCategoryArray.map(category => `categories=${encodeURIComponent(category)}`).join('&');

            fetch(`/api/map/category?${queryString}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('카페 데이터를 불러오는 중 오류가 발생했습니다.');
                    }
                    return response.json();
                })
                .then(data => {
                    clearMarkers();
                    data.forEach(cafe => {
                        displayMarker({
                            id: cafe.kakaoId,
                            place_name: cafe.name,
                            road_address_name: cafe.address,
                            latitude: cafe.latitude,
                            longitude: cafe.longitude
                        });
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('카테고리 검색에 실패했습니다.');
                });
        } else {
            alert("카테고리를 선택하세요.");
        }
    }

    function resetCategories() {
        isCategorySearch = false;
        selectedCategories.clear();
        createCategoryButtons();
        searchPlacesByCenter(map.getCenter());
    }

    function clearMarkers() {
        for (let id in markers) {
            markers[id].setMap(null);
        }
        markers = {};
    }

    document.getElementById('save-btn').addEventListener('click', saveMap);

    document.getElementById('search-btn').addEventListener('click', searchCafeByName);

    document.addEventListener('DOMContentLoaded', initMap);

    function parseAddress(address) {
        const parts = address.split(' ');
        let city = parts[0];
        let district = '';
        for (let i = 1; i < parts.length; i++) {
            if (parts[i].endsWith('구') || parts[i].endsWith('군')) {
                district = parts[i];
                break;
            }
        }
        return {city, district};
    }

    function checkAndSaveCafe(kakaoId, name, address, latitude, longitude, city, district) {
        const data = {
            kakaoId: kakaoId,
            name: name,
            address: address,
            latitude: latitude,
            longitude: longitude,
            city: city,
            district: district
        };

        console.log("Sending data:", data);

        fetch(`/review/${kakaoId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (!response.ok) {
                return response.text().then(text => {
                    throw new Error(text);
                });
            }
            return response.json();
        })
            .then(data => {
                console.log("Cafe saved or found:", data);
                addCafeToSet(kakaoId, name, address);
            }).catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });
    }

    function openReviewPage(kakaoId, name, address, latitude, longitude) {
        const parsedAddress = parseAddress(address);

        const data = {
            kakaoId: kakaoId,
            name: name,
            address: address,
            latitude: latitude,
            longitude: longitude,
            city: parsedAddress.city,
            district: parsedAddress.district
        };

        console.log("Sending data for review page:", data);

        fetch(`/review/${kakaoId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (!response.ok) {
                return response.text().then(text => {
                    throw new Error(text);
                });
            }
            return response.json();
        })
            .then(data => {
                console.log("Cafe saved or found:", data);
                window.open(`/review/${data.id}`, '_blank');
            }).catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });
    }
</script>

</body>
</html>

