body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #EDE3D5;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #884D33;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user-id-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#checkUserIdButton {
    width: 30%;
    padding: 8px 10px;
    margin-top: 5px;
    white-space: nowrap;
    font-size: 0.9em;
}

button:hover {
    background-color: #7B6155;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}